$default-text: #333;
$primary-color: #3490dc;
$secondary-color: #ffc400;
$third-color: #ff0037;
$background-default: #f4f4f4;
$text-color: #333;

// sidebar
$sidebar-bg: #000;
$sidebar-color: #ffc400;
$sidebar-active-bg: #069;
$sidebar-text-a: #fff;